[flake8]
max-line-length = 100
exclude = 
    .venv,
    .git,
    __pycache__,
    build,
    dist,
    *.egg-info,
    .pytest_cache,
    .mypy_cache,
    notebooks/.ipynb_checkpoints
ignore = 
    E203,
    W503