# IDE and environment
.idea
.venv/

# Python cache and egg-info
*__pycache__*
Wav2TextGrid.egg-info*

# Model and checkpoints
pretrained_models*
*checkpoints*

# Data and results
Wav2TextGrid/data
Wav2TextGrid/Wav2TextGridResults
data/
RESULTS/
/dist/
/test_results

# Examples, notebooks, and tests
*examples*
*ipynb*
*test_data*
test/
